@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~font-awesome";
@import "sb-admin.css";

.sidebar-toggle {
    font-size: 22px;
}
.sidebar-toggle:hover i{
    color: rgba(255, 255, 255, 0.75);
}

.table-bordered {
    border: 1px solid #dee2e6!important;
}

.table-vertical th:first-child{
    text-align: right;
    vertical-align: middle;
}
.table-vertical td:first-child{
    width: 25%;
    text-align: right;
    vertical-align: middle;
}