@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~font-awesome";
@import "sb-admin.css";

.sidebar-toggle {
    font-size: 22px;
}
.sidebar-toggle:hover i{
    color: rgba(255, 255, 255, 0.75);
}

.table-bordered {
    border: 1px solid #dee2e6!important;
}

.table-vertical th:first-child{
    text-align: right;
    vertical-align: middle;
}
.table-vertical td:first-child{
    width: 25%;
    text-align: right;
    vertical-align: middle;
}

.products-page-table {
    font-size: 14px;
}

.cart-link {
    position: relative;
}

.table-sm {
    font-size: 13px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
     padding: 0;
}

.sf-toolbarreset {
   display: none!important;
}

.icon-diameter {
    width: 20px;
}