{% extends 'base.html.twig' %}

{% block title %}Рдеактирование регионов{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Редактирвоание регионов</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        {{ form_start(editRegionForm) }}
        {{ form_widget(editRegionForm) }}

        <div class="form-group text-right">
          <a href="{{ path('region_list') }}" class="btn btn-light">Отмена</a>
          <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
        {{ form_end(editRegionForm) }}
      </div>
    </div>
  </div>

{% endblock %}
